html,
body{
  margin: 0;
  overflow: scroll;
}

/* 
body {
  overflow: auto;
}  /* 전체 페이지에 스크롤 허용 */
.TravelRegister-Mobile-header {
  display: none;
}

.TravelRegister-post {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 100px 530px;
  align-items: center;
  height: 100%;
}

.TravelRegister-post input, textarea {
  height: 60px;
  width: 100%;
  border: 1px solid var(--gray-color-20);
  padding: 0 20px;
}

input:focus {
  outline: none;
}

.TravelRegister-title {
  display: flex;
  gap: 50px;
  width: 100%;
  white-space: nowrap;
  align-items: center;
}

.TravelRegister-post input:focus {
  outline: none;
  background-color: #fff;
}

.TravelRegister-post select {
  height: 60px;
  border: 1px solid var(--gray-color-20);
  padding: 0 20px;
  width: 100%;
}

.TravelRegister-selectGroup1, .TravelRegister-selectGroup2 {
  display: flex;
  width: 100%;
  gap: 40px;
}

.TravelRegister-selectRegion, .TravelRegister-selectSeason {
  display: flex;
  gap: 65px;
  width: 50%;
  white-space: nowrap;
  align-items: center;
}

.TravelRegister-selectCostType {
  display: flex;
  gap: 65px;
  width: 50%;
  white-space: nowrap;
  align-items: center;
}

.TravelRegister-selectVehicle {
  display: flex;
  gap: 30px;
  width: 50%;
  white-space: nowrap;
  align-items: center;
}

.TravelRegister-selectCategory {
  display: flex;
  gap: 40px;
  width: 100%;
  white-space: nowrap;
  align-items: center;
}

.TravelRegister-date-picker {
  display: flex;
  width: 100%;
  gap: 40px;
}

.TravelRegister-date-picker .TravelRegister-date-StartDt, .TravelRegister-date-picker .TravelRegister-date-EndDt {
  display: flex;
  gap: 20px;
  width: 100%;
  white-space: nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker__input-container {
  display: flex !important;
}

.TravelRegister-date-picker label {
  display: flex;
}

.TravelRegister_btn {
  display: flex;
  gap: 20px;
}

.TravelRegister_btn button {
  width: 200px; 
  height: 60px;
}

.TravelRegister-textarea {
  width: 100%;
  display: flex;
  white-space: nowrap;
  gap: 65px;
}

.TravelRegister-textarea textarea {
  padding-top: 20px;
}

/* 모바일 (휴대폰, 태블릿 세로) */
@media only screen and (min-width: 200px) and (max-width: 1000px) {
 .TravelRegister-post {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 100px;
    align-items: center;
    height: 100%;
  }

  .selectGroup1, .selectGroup2 {
    display: flex !important;
    flex-direction: row !important;
  }
}

@media only screen and (min-width: 200px) and (max-width: 499px) {
  .TravelRegister-Mobile-header-none {
    display: none;
  }
  
  .TravelRegister-Mobile-header {
    position: relative;
    height: 80px; 
    display: flex;
    align-items: center;
    padding: 0 24px;
  }
  
  .TravelRegister-Mobile-header-GoArrowLeft {
    position: absolute;
    left: 24px;
  }
  
  .TravelRegister-Mobile-header-h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .TravelRegister-Mobile-header-h2 h2 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 22px;
  }

  .TravelRegister-post {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 24px;
    align-items: center;
    height: 100%;
  }

  .TravelRegister-selectGroup1, .TravelRegister-selectGroup2 {
    display: flex !important;
    flex-direction: column !important;
  }

  .TravelRegister-selectRegion, .TravelRegister-selectSeason, .TravelRegister-selectCostType, .TravelRegister-selectVehicle {
    display: flex;
    gap: 50px;
    width: 100% !important;
    white-space: nowrap;
    align-items: center;
  }

  .TravelRegister-selectRegion, .TravelRegister-selectSeason {
    gap: 65px;
  }

  .TravelRegister-selectCostType {
    gap: 65px !important;
  }

  .TravelRegister-selectCategory, .TravelRegister-selectVehicle {
    gap: 40px !important;
  }

  .TravelRegister-date-picker {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .TravelRegister-date-picker {
    display: flex;
    width: 100%;
    gap: 40px;
  }

  .TravelRegister-date-picker .TravelRegister-date-StartDt, .TravelRegister-date-picker .TravelRegister-date-EndDt{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    width: 100%;
    align-items: center;
    gap: 22px;
  }

  .TravelRegister-handleCancel {
    display: none;
  }

  .TravelRegister_btn .TravelRegister-handleSave {
    width: 382px !important; 
    height: 60px;
  }
}