html,
body {
  margin: 0;
  overflow: scroll;
}

/* 
body {
  overflow: auto;
}  /* 전체 페이지에 스크롤 허용 */
.TravelRegister-Mobile-header {
  display: none;
}

.TravelRegister-post {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 100px 530px;
  align-items: center;
  height: 100%;
}

.TravelRegister-post input,
textarea {
  height: 60px;
  width: 100%;
  border: 1px solid var(--gray-color-20);
  padding: 0 20px;
}

input:focus {
  outline: none;
}

.TravelRegister-title {
  display: flex;
  gap: 50px;
  width: 100%;
  white-space: nowrap;
  align-items: center;
}

.TravelRegister-post input:focus {
  outline: none;
  background-color: #fff;
}

.TravelRegister-post select {
  height: 60px;
  border: 1px solid var(--gray-color-20);
  padding: 0 20px;
  width: 100%;
}

.TravelRegister-selectGroup1,
.TravelRegister-selectGroup2,
.TravelRegister-selectGroup3 {
  display: flex;
  width: 100%;
  gap: 40px;
}

.TravelRegister-selectRegion,
.TravelRegister-selectSeason {
  display: flex;
  gap: 65px;
  width: 50%;
  white-space: nowrap;
  align-items: center;
}

.TravelRegister-Course-selectPlace,
.TravelRegister-Course-selectAddress {
  display: flex;
  gap: 55px;
  width: 100%;
  white-space: nowrap;
  align-items: center;
}

.TravelRegister-Course-selectHourse {
  display: flex;
  gap: 30px;
  width: 50%;
  white-space: nowrap;
  align-items: center;
}

.TravelRegister-selectCostType {
  display: flex;
  gap: 65px;
  width: 50%;
  white-space: nowrap;
  align-items: center;
}

.TravelRegister-selectVehicle {
  display: flex;
  gap: 30px;
  width: 50%;
  white-space: nowrap;
  align-items: center;
}

.TravelRegister-selectCategory {
  display: flex;
  gap: 40px;
  width: 100%;
  white-space: nowrap;
  align-items: center;
}

.TravelRegister-date-picker {
  display: flex;
  width: 100%;
  gap: 40px;
}

.TravelRegister-date-picker .TravelRegister-date-StartDt,
.TravelRegister-date-picker .TravelRegister-date-EndDt {
  display: flex;
  gap: 20px;
  width: 100%;
  white-space: nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker__input-container {
  display: flex !important;
}

.TravelRegister-date-picker label {
  display: flex;
}

.TravelRegister_btn {
  display: flex;
  gap: 20px;
}

.TravelRegister_btn button {
  width: 200px;
  height: 60px;
}

.TravelRegister-textarea-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.TravelRegister-textarea {
  width: 100%;
  display: flex;
  white-space: nowrap;
  gap: 65px;
}

.TravelRegister-textarea textarea {
  padding-top: 20px;
}

.TravelRegister-hashtags-text {
  font-size: 14px;
  color: var(--red-color);
  margin: 10px 0 0 95px;
}

.TravelRegister-CourseAdd {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

.TravelRegister-Course .TravelRegister-CourseAdd button {
  background-color: transparent;
  border: 1px dashed var(--main-color);
  border-radius: 8px;
}

.TravelRegister-Course {
  display: flex;
  flex-direction: column;
  width: 100%;
  white-space: nowrap;
  align-items: center;
}

.TravelRegister-Course button {
  height: 60px;
  width: 100%;
  border: none;
}

.TravelRegisterContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input::placeholder {
  color: var(--gray-color-40);
}

select:not(:-internal-list-box):not([multiple]) option:disabled {
  color: var(--gray-color-40);
}

.travel-course-item {
  border: 1px solid var(--gray-color-10);
  padding: 30px;
  border-radius: 20px;
}
.font-medium {
  padding: 0;
  margin: 0;
}

.travel-course-item {
  width: 100%;
}

.travel-courseList-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.TravelRegister-addPlace {
  padding: 5px 10px;
}

.TravelRegister-Course-selectPlace,
.TravelRegister-Course-selectHourse,
.TravelRegister-Course-selectAddress {
  display: flex;
  align-items: center;
  white-space: nowrap !important;
}

.TravelRegister-CourseItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--gray-color-10);
  padding: 30px;
  border-radius: 10px;
}

.TravelRegister-CourseItem-content {
  display: flex;
  justify-content: space-between;
}

.TravelRegister-CourseItem-content-GoTrash {
  border: 1px solid var(--gray-color-20);
  padding: 7px 10px 3px 10px;
  border-radius: 10px;
}

.space-y-6 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* 모바일 (휴대폰, 태블릿 세로) */
@media only screen and (min-width: 200px) and (max-width: 1000px) {
  .TravelRegister-post {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 100px;
    align-items: center;
    height: 100%;
  }

  .selectGroup1,
  .selectGroup2,
  .selectGroup3 {
    display: flex !important;
    flex-direction: row !important;
  }
}

@media only screen and (min-width: 200px) and (max-width: 499px) {
  .TravelRegister-Mobile-header-none {
    display: none;
  }

  .TravelRegister-Mobile-header {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 24px;
  }

  .TravelRegister-Mobile-header-GoArrowLeft {
    position: absolute;
    left: 24px;
  }

  .TravelRegister-Mobile-header-h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .TravelRegister-Mobile-header-h2 h2 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 22px;
  }

  .TravelRegister-post {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 24px;
    align-items: center;
    height: 100%;
  }

  .TravelRegister-selectGroup1,
  .TravelRegister-selectGroup2 {
    display: flex !important;
    flex-direction: column !important;
    gap: 20px;
  }

  .TravelRegister-selectRegion,
  .TravelRegister-selectSeason,
  .TravelRegister-selectCostType,
  .TravelRegister-selectVehicle {
    display: flex;
    gap: 50px;
    width: 100% !important;
    white-space: nowrap;
    align-items: center;
  }

  .TravelRegister-selectRegion,
  .TravelRegister-selectSeason,
  .TravelRegister-Course-selectPlace {
    gap: 65px;
  }

  .TravelRegister-selectCostType {
    gap: 65px !important;
  }

  .TravelRegister-selectCategory,
  .TravelRegister-selectVehicle {
    gap: 40px !important;
  }

  .TravelRegister-date-picker {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .TravelRegister-date-picker {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  .TravelRegister-date-picker .TravelRegister-date-StartDt,
  .TravelRegister-date-picker .TravelRegister-date-EndDt {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    width: 100%;
    align-items: center;
    gap: 22px;
  }

  .TravelRegister_btn {
    width: 100%;
    gap: 10px;
  }

  .TravelRegister-handleCancel {
    /* display: none; */
  }

  .TravelRegister_btn .TravelRegister-handleSave {
    height: 60px;
  }

  .CourseForm {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 80vh;
    background: white;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow-y: auto;
    transform: translateY(100%);
    animation: slide-up 0.3s forwards;
    z-index: 1000;
  }

  .TravelRegisterContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px 24px;
  }

  /* 슬라이드 업 애니메이션 */
  @keyframes slide-up {
    to {
      transform: translateY(0);
    }
  }

  .bottom-sheet-header-closeBtn {
    display: inline;
    background-color: transparent;
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 24px;
  }

  .bottom-sheet-header {
    display: flex;
  }

  .CourseForm-Content-btn {
    gap: 10px;
  }

  .TravelRegister-Course li {
    gap: 45px;
  }

  .TravelRegister-Course ul {
    display: flex;
    gap: 15px;
    margin: 0 0 20px 0;
  }

  .mobile-background {
    width: 100vh;
    border: 3px solid var(--gray-color-10);
    padding: 0;
  }

  .CourseForm-place,
  .CourseForm-category,
  .CourseForm-address,
  .CourseForm-time {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    flex-direction: column;
  }

  .CourseForm-category select {
    border-radius: 8px;
  }

  .TravelRegister-post input {
    width: 88%;
  }
}
