p,
h3 {
  margin: 0;
  padding: 5px 0;
}

.TravelList {
  display: flex;
  max-width: 1330px;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.TravelList-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.TravelList-content {
  display: flex;
  flex-direction: column;
}

.TravelList-length {
  font-weight: bold;
}

.TravelList-contents {
  display: flex;
  gap: 30px;
}

.TravelList-content .image {
  width: 350px;
}

.TravelList-content .image img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.TravelList-contents-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TravelList-content ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.TravelList-content li {
  list-style-type: none;
  display: flex;
  padding: 0;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid var(--gray-color-20);
}

.TravelList-content h3 {
  font-family: "Pretendard-SemiBold";
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.TravelList-content .TravelList-TravelList-btn {
  background-color: var(--blue-color-30);
  color: #fff;
  font-size: 15px;
  padding: 3px 10px;
  border-radius: 8px;
  font-family: "Pretendard-Regular";
}

.TravelList-description {
  margin-top: 10px;
}

.TravelList-description p {
  text-overflow: ellipsis;
}

.TravelList-hashtags {
  padding: 0;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.TravelList-hashtags .hashtag {
  background-color: var(--gray-color-10);
  color: var(--gray-color-80);
  padding: 5px 10px;
  border-radius: 8px;
}

.TravelList-sort select {
  padding: 10px;
  border: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 50px 0 30px 0;
  flex-wrap: wrap;
}

.page-btn {
  padding: 6px 12px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  min-width: 40px;
  transition: all 0.2s ease;
}

.page-btn.active {
  background-color: var(--main-color);
  border-radius: 100%;
  height: 40px;
  color: white;
  font-weight: bold;
}

.page-btn:disabled {
  background: transparent;
  color: var(--gray-color-30);
  cursor: not-allowed;
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
}

@media only screen and (min-width: 200px) and (max-width: 499px) {
  .TravelList-content {
    gap: 20px;
  }

  .TravelList-content .TravelList-length {
    padding-left: 5px;
  }

  .TravelList-contents {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .TravelList-content ul {
    display: flex;
    gap: 30px !important;
  }

  .TravelList-content li {
    display: flex;
    border-radius: 10px;
    padding: 20px 0;
  }

  .TravelList-content .TravelList-image {
    width: 100%;
    height: 100px;
  }

  .TravelList-contents-text {
    padding: 10px;
  }

  .TravelList-contents-text-title {
    font-size: 13px;
  }

  .TravelList-contents-text h3 {
    font-size: 20px;
  }

  .TravelList-description {
    font-size: 15px;
  }

  .TravelList-length {
    display: none;
  }
  .TravelList-hashtags {
    margin-left: -3px;
  }

  .TravelList-hashtags span {
    font-size: 13px;
  }

  .TravelList.recommend .TravelList-content h3 {
    font-size: 180px;
    color: #333;
  }
}
